html{
    color: #ec7a95;
    background-color: #2378c4;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h1{
    color: #d1a617;
}
.experiencia{
    color: rgb(240, 142, 77);
}
.presentacion{
    
}

.habilidades{
}

footer{
}

.clouds{
    height: 10em;
    display: inline-block;
    position: relative;
    left : 50px;
}
.imgi2{
    height: 18em;
    position: relative;
    left: 80px;
    
}

.box{
    border: solid 3px #d1a617;
    margin: .4em .1em;
    padding: .1em;
}