html{
    color: #ec7a95;
    background-color: #2378c4;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h1{
    color: #d1a617;
}
.experiencia{
    color: rgb(240, 142, 77);
    padding: 20px;
}
.presentacion{
    padding: 20px;
    
}

.habilidades{
    padding: 20px;
}

footer{
    padding: 20px;
}

.imgi{
    height: 200px;
}
.imgi2{
    height: 400px;
}

.box{
    border: solid 3px #d1a617;
}