    body {
        font-family: 'Montserrat', sans-serif;
        font-weight: 300;
    }
    
    #title {
        background-color: #7882A4;
        color: #EFEFEF;
        font-family: 'Abril Fatface', cursive;
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
    }
    
    #title h1 {
        color: #D1D1D1;
        font-size: 3rem;
        line-height: 1.5;
    }
    
    .brandy {
        font-family: 'Abril Fatface', cursive;
        font-size: 2.6em;
    }
    
    .navbar {
        padding-bottom: 2em;
    }
    
    .navbar .nav-item {
        font-size: 1.4rem;
    }
    
    .front {
        width: 100%;
    }
    /* Modifying bootstrap */
    
    .container-fluid {
        padding: 1% 10% 3% 10%;
    }
    
    .sociales {
        margin: 5% 2%;
    }
    
    #features {
        margin: 6em;
    }
    
    .featurebox {
        padding: 2% 5%;
    }
    
    .featurebox h3 {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 700;
        padding-bottom: .6em;
    }
    
    .featurebox img {
        width: 3em;
        color: #2c4a6b;
        filter: invert(25%) sepia(73%) saturate(416%) hue-rotate(169deg) brightness(85%) contrast(87%);
    }
    /* Modifying bootstrap */
    
    #testimonials {
        background: #41475e;
        color: #afabab;
        text-align: center;
    }
    
    h2 {
        font-size: 1.8rem;
        line-height: 1.6;
    }
    
    #testimonials img {
        width: 60%;
        border-radius: 5%;
        margin: 2em;
    }
    
    .carousel-item {
        padding: 7% 15%;
    }
    
    #pricing {
        padding-top: 3em;
        background-color: #EFEFEF;
        color: #333c5e;
    }
    
    .card {
        padding: 10px;
        margin: 2em .8em 3em .6em;
    }
    
    .red {
        border: solid 3px #2c4a6b;
        padding: 2em 5em;
    }