/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* 
end of rest css */

body{
    margin: 2em;
    padding: 2em;
    font-family: verdana,  sans-serif;
    text-align: center;
<<<<<<< HEAD
    background-color: #00587a;
=======
    background-color: #def5d1e8;
>>>>>>> 05f43bc9c1c78a3f3df05c827e4267da2237c11f
    font-family: 'Exo 2', sans-serif;
    font-size: 16px;

}


.top-container{
    font-family: 'Satisfy', cursive;
    font-size: 2em;
    line-height: 3.5rem;
<<<<<<< HEAD
    color: #7cbbb6;
=======
    color: #96bb7c;
>>>>>>> 05f43bc9c1c78a3f3df05c827e4267da2237c11f

}
.top-container h1{
    font-size: 4rem;
<<<<<<< HEAD
    color: #008891;
=======
    color: #184d47;
>>>>>>> 05f43bc9c1c78a3f3df05c827e4267da2237c11f
    font-weight: 700;
}

.middle-container{
    line-height: 1.5rem;
<<<<<<< HEAD
    color: #e7e7de;
    background-color: #0f3057;
    padding-bottom: 3em;
    margin-bottom: 2em;
    margin: 2em auto;
    width: 80%;
    border-radius: 3em;
=======
    color: #bd9d58;
    background-color: #d6eec3;
    padding-bottom: 3em;
    margin-bottom: 2em;
}
.skill-row{
    width: 90%;
    margin: 10px auto;
}
bottom-container{

>>>>>>> 05f43bc9c1c78a3f3df05c827e4267da2237c11f
}
.skill-row{
    width: 90%;
    margin: 10px auto;
}



img{
<<<<<<< HEAD
    max-width: 80%;
    border-radius: 2em;
=======
    max-width: 600px;
>>>>>>> 05f43bc9c1c78a3f3df05c827e4267da2237c11f
}
hr {

    width:85%;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(15, 58, 26, 0.75), rgba(0, 0, 0, 0));
  }
  h2{
      font-size: 1.7em;
      margin: 1em 0 ;
  }
  p{
<<<<<<< HEAD
      width: 90%;
      margin: 4px auto;
  }

=======
      width: 40%;
      margin: 4px auto;
  }

  .btn{
    display: inline-block;
    padding: .75rem 1.25rem;
    border-radius: 10rem;
    color: rgb(201, 110, 110);
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: .15rem;
    transition: all .3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
  }
>>>>>>> 05f43bc9c1c78a3f3df05c827e4267da2237c11f
